{% extends 'base.html' %}

{% block content1 %}


   <div class="row " style="margin-top: 10px">
       <div class="col text-center">
            <h3 class="text-uppercase">our services</h3>
    <hr class="hr border-3 m-auto" style="width: 3%">
    <p>asdasdasd asdasdasd asdasd asdasd</p>
       </div>


    </div>
    <div class="row" style="margin-top: 10px">
    <div class="col text-center">
            <h3 class="text-uppercase">OUR GALLERY</h3>
    <hr class="hr border-3 m-auto" style="width: 3%">
    <p>asdasdasd asdasdasd asdasd asdasd</p>
       </div>
    </div>
    <div class="row d-flex justify-content-evenly">
        <div class="col" style="background-image: url('https://www.startrescue.co.uk/media/2177f150-b7b8-4652-a0fa-28add76e0a8b.jpg');
background-size: 100% 100%;background-repeat: no-repeat;height: 300px;margin-right: 10px"></div>
          <div class="col" style="background-image: url('https://www.startrescue.co.uk/media/2177f150-b7b8-4652-a0fa-28add76e0a8b.jpg');
background-size: 100% 100%;background-repeat: no-repeat;height: 300px;margin-right: 10px"></div>
      <div class="col" style="background-image: url('https://www.startrescue.co.uk/media/2177f150-b7b8-4652-a0fa-28add76e0a8b.jpg');
background-size: 100% 100%;background-repeat: no-repeat;height: 300px;margin-right: 10px"></div>

    </div>
    <div class="d-flex justify-content-center">
    <a class="btn btn-info" style="margin-top: 10px;">SEE FULL GALLERY</a>
  </div>


{% endblock %}
{% block content2 %}
    <div class="row d-flex justify-content-around" style="margin-top: 10px">
        <div class="col d-flex justify-content-between">
            <img src="https://www.startrescue.co.uk/media/2177f150-b7b8-4652-a0fa-28add76e0a8b.jpg" style="padding-right: 3%;width: 50%;">
            <img src="https://www.startrescue.co.uk/media/2177f150-b7b8-4652-a0fa-28add76e0a8b.jpg" style="width: 50%;">
        </div>
        <div class="col">
            <h3 class="text-uppercase">long term warranties adn <br>competitive prices</h3>
            <hr class="hr border-3" style="width: 3%">
        <p>
            Why do we consider ourselves to be the best car garage? It’s simple, really. We know that honesty and transparency, coupled with reliable and friendly customer service, is what really builds customer trust.
            <br>
            Trust the experts at our AutoService Shop for quality tune-ups. Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls. We offer competitive.

        </p>
            <a class="btn btn-info text-white text-uppercase">see all our offers</a>
        </div>
    </div>
{% endblock %}